h1, h2, h3, h4 { font-family: "Georgia", Times, "Times New Roman", serif;
                 font-weight: 400;}

.popover-title {
color: orange;
font-size: 15px;
}
.popover-content {
color: black;
font-size: 15px;
background-color:white;
}


.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.skin-yellow .main-header .logo {
          background-color: #F19B2C;
        }

.skin-yellow .main-header .logo:hover {
  background-color: #F19B2C;
}


#pg3_header h4{
	font-family: "Helvetica Neue", Helvetica, serif;
}

#confirm {
	padding-left: 5px;
}
#random_choice {
    font-family: 'Helvetica Neue', Helvetica, serif;
    font-size: 22px;
}


